.content{
    background-color: #1f1f1f;
}
.titleCallAction{
    color: white;
}
.overlay{
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color:  rgba(0,0,0,0.5);
}
.carousel-caption{
    z-index: 2;
}
.bg-black{
    background-color: black;
}
.itemDataProtection{
    text-decoration: none;
    color: rgba(255,255,255,.55);
}
.itemDataProtection:hover{
    color: rgba(255,255,255,.75);
}
.block-under-image{
    background-color: black;
    height: 9em;
}